.backdrop{
  height: 100vh;
  width: 100vw;
  background-image: url("../images/NY_001.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: -10px solid;
  border-color: white;
  -webkit-filter: blur(8px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(8px);
  position: absolute;
}
.overlay{
  background-color:rgba(52, 73, 94, 0.3);
  height: 100vh;
  width: 100vw;
  position: absolute;
}
.welcome-block{
  position: absolute;
  height: 300px;
  width: 500px;
  border: 0px solid;
  border-color:white;
  margin-top: 40vh;
  margin-left: calc((100vw - 500px)/2);
}
.welcome-header{
  font-family: 'Comfortaa', cursive;
  font-style: italic;
  font-size: 500%;
  font-weight: 500;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.welcome-text{
  font-family: 'Comfortaa', cursive;
  font-style: italic;
  font-size: 200%;
  font-weight: 400;
  color: white;
  text-align: center;
  text-transform: capitalize;
}
.view-transition{
  position: fixed;
  float: right;
  height: calc(100vh - 50px);
  width: 7vw;
  border: 2px solid;
  border-color:white;
  margin-left: 93vw;
}
.footer-section{
  position: absolute;
  height: 50px;
  width: 100vw;
  border: 2px solid;
  border-color:white;
  margin-top: calc(100vh - 50px);
}
.window{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(229, 231, 233, 0.95);
  z-index: 10;
  border-bottom: 2px solid #01579B;
  animation: window-call;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 1.2s;
  -webkit-animation: window-call; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 1.2s;
}
.window-text{
  position: relative;
  height: 70px;
  width: calc(100vw - 100px);
  margin-top: calc((100vh - 200px)/2);
  margin-left: 100px;
  border-bottom: 2px solid #01579B;
  border-left: 5px solid #607D8B;
  padding-left: 7px;
  font-family: 'Comfortaa', cursive;
  font-size: 50px;
  animation: welcomeEnter;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  -webkit-animation: welcomeEnter; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
}
.curtain{
  position: absolute;
  height: 90vh;
  width: 100vw;
  background-color: rgba(229, 231, 233, 0.95);
  border-bottom: 4px solid #01579B;
  z-index: 11;
  animation: curtain-call
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation: curtain-call; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
}
@keyframes welcomeEnter {
  0% {margin-left: 350px;
        width: calc(100vw - 350px)}
  50% {margin-left: 100px;
        width: calc(100vw - 100px);
        border-bottom: 2px solid #01579B;
        border-left: 5px solid #607D8B;
        }
  100% {border-left:5px solid rgba(0, 0, 0, 0);
        border-bottom:2px solid  rgba(0, 0, 0, 0);
        color: rgba(0, 0, 0, 0);}
}
@-webkit-keyframes welcomeEnter {
  0% {margin-left: 350px;
        width: calc(100vw - 350px)}
  50% {margin-left: 100px;
        width: calc(100vw - 100px);
        border-bottom: 2px solid #01579B;
        border-left: 5px solid #607D8B;
        }
  100% {border-left:5px solid rgba(0, 0, 0, 0);
        border-bottom:2px solid  rgba(0, 0, 0, 0);
        color: rgba(0, 0, 0, 0);}
}
@keyframes curtain-call {
  from {height: 90vh;}
  to {height: 0vh;
      border-bottom:0px;}
}
@-webkit-keyframes curtain-call {
  from {height: 90vh;}
  to {height: 0vh;
      border-bottom:0px;}
}
@keyframes window-call {
  from {height: 100vh;}
  to {height: 0vh;
      border-bottom:0px}
}
@-webkit-keyframes window-call {
  from {height: 100vh;}
  to {height: 0vh;
      border-bottom:0px}
}
.navbar-wrapper{
  position: absolute;
  height: 180px;
  width: 620px;
  border-bottom: 2px solid;
  border-color:white;
  margin-left: calc((100vw - 620px)/2);
}
.navigation{
  list-style-type: none;
  margin-left: 3%;
  margin-bottom: 0px;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}
.navigation > li {
  margin-right: 3%;
  float: left;
  width: 22%;
  height: 180px;
  background-color: rgba(224, 224, 224, 0);
  -webkit-transition: background-color 0.2s; /* Safari */
  transition: background-color 0.2s;
}
.navigation > li:hover {
  background-color: rgba(238, 238, 238, 0.55);
  border-bottom: 3.5px solid #1A237E;
}
.navigation > li:hover > .navitems{
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}
.navigation > li:hover > .subitem{
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

li a:hover {
  color: rgba(26, 35, 126, 0.9);
}
.navitems{
  height: 70%;
  width: 100%;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  margin: 20% 2%;
  font-size: 18px;
  margin: 0px;
  text-align: left;
  margin-top: 0;
  -webkit-transition: color 0.2s border-bottom 0.2s; /* Safari */
  transition: color 0.2s border-bottom 0.2s;
  letter-spacing: 1px;
  animation: item;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  -webkit-animation: item; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  z-index: 20;
}
#item1{
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
#item2{
  animation-delay: 2.1s;
  -webkit-animation-delay: 2.1s;
}
#item3{
  animation-delay: 2.2s;
  -webkit-animation-delay: 2.2s;
}
#item4{
  animation-delay: 2.3s;
  -webkit-animation-delay: 2.3s;
}

.subitem{
  position: absolute;
  top: 110px;
  width: 22%;
  padding-left: 16px;
  padding-right: 16px;
  font-family: 'Comfortaa', cursive;
  color: rgba(255, 255, 255, 1);
  z-index: 0;
}
@keyframes item {
  from {margin-top: 0;}
  to {margin-top: calc( 49% - 14px );}
}
@-webkit-keyframes item{
  from {margin-top: 0;}
  to {margin-top: calc( 49% - 14px );}
}
