<div class="view" layout="column">
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <md-icon md-font-set="material-icons" style="font-size: 32px; margin-right: 10px; margin-left: 10px; height: 32px; width: 32px;"> assignment_ind </md-icon>
      <h2 class="md-flex">About Me</h2>
    </div>
  </md-toolbar>
  <md-content flex layout-padding style="color: white;">
	<p>	I am a student at the ECE department as an aspiring computer engineer. My main interests are computer architecture, VLSI, ASIC, operating systems, and programming of any flavor. I have always had an interest towards computers from an early age and I always try to pick up new things whether it be a programming language or understanding how a piece of hardware works. </p>

	<p>Apart from these, I am an avid football fan. I used to play for my high school team, and I also try to play pick up football every now and then. I have always supported Manchester United as a kid, and always will. Cooking is another hobby I like to dabble in. I try to learn how to cook and make recipes from all around. In my spare time, I play some Destiny on my PS4 with my friends.</p>
  </md-content>

</div>
