<div class='window'></div>
<div class='curtain'>
  <h1 class='window-text'>
    Hello World!  
  </h1>
</div>

<div class='backdrop'></div>

<div class='overlay'></div>

<div class='welcome-block'>
  <h1 class='welcome-header'>
    Here We Go
  </h1>
  <p class='welcome-text'>
    Gotta find some appropriate text for this
  </p>
</div>

<div class='navbar-wrapper'>
  <ul class='navigation'>
    <li> 
      <a class="navitems" id="item1" href="#/about"> About Me </a>
      <a class="subitem" href="#/about"> It's all about me right now. </a>
    </li>
    <li> 
      <a class="navitems" id="item2"> Education </a> 
      <p class="subitem"> Yes, I've been to school. </p>
    </li>
    <li> 
      <a class="navitems" id="item3"> Experience </a> 
      <p class="subitem"> I try my hand at stuff. </p>
    </li>
    <li> 
      <a class="navitems" id="item4"> Contact </a> 
      <p class="subitem"> Let's get to know you. </p>
    </li>
  </ul>
</div>

<div class='view-transition'>
</div>

<div class='footer-section'>
</div>
